<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hi, <%= @user.first_name %>!</h1>

    <p>
      Congratulations on creating your profile with Shine! We are reviewing your profile and will get back to you within 1-2 business days.
    </p>

    <p>
      Happy Tutoring!
    </p>

    <p>The Shine Tutors Team</p>
  </body>
</html>
