<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>Hi <%= @user.first_name %>!</p>

    <p>Thanks for speaking with us on the phone, and welcome to Shine! We're so happy to have you with us. </p>

    <p>We've just activated your account, so you'll need to do a couple things before you can start lessons with your tutor:</p>

    <blockquote>
      <ol>
	<li>Please <a href="<%= edit_api_v1_user_password_url(reset_password_token: @token, redirect_url: @redirect_url) %>">click this link</a> to choose your password.</li>
	<li>Once you are logged in, <a href="<%= @account_url %>">please fill out your profile</a> so your tutor can get to know you.</li>
	<li>Finally, please <a href="<%= @account_url %>">add your payment info</a> to Stripe, our credit card processor, so your tutor can receive payment in a timely manner (usually within 1-2 hours after the lesson is complete).</li>
      </ol>
    </blockquote>

    <p>Your tutor will be reaching out to you in the next 24 hours to schedule your first lesson, so please look out for an email from them.</p>

    <p>If we can answer any questions for you, please don't hesitate to hit 'Reply' to this message. We read every one!</p>

    <p>Happy Tutoring!</p>

    <p>Frank and the Shine Tutors Team</p>
  </body>
</html>
