// Webkit appearance number spin
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Mozilla number appearance
input[type=number] {
  -moz-appearance:textfield;
}

// Change default chrome autofill
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input, select, textarea {
  outline: none;
  border-radius: 0;
}

button {
  border: none;
  outline: none;
}