// section-comments [styles]

.section-comments {
  position: relative;
  overflow: hidden;
  padding-bottom: 40px;

  .section-comments__title {
    text-align: left;

    @include media("<=phone") {
      text-align: center;
    }
  }

  &__comments {
    margin-top: 77px;
    @include media("<=tablet") {
      margin-top: 45px;
    }
  }
}

// Created by dimasion 2018-10-4
