// field-ckeckbox [styles]

.field-checkbox {
  position: relative;
  max-width: 380px;
  margin: auto;
  padding: 10px 4px 10px 23px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  &--noPadding {
    padding: 0;
  }

  &--reverse {
    flex-flow: row-reverse nowrap;

    input:first-child,
    label:first-child {
      width: 100%;
    }

    label {
      width: 100%;
      padding-left: 12px;
    }
  }
  &--transparent {
    background: transparent;
  }
}
