// modal-login [styles]

.form-login {
  position: relative;
  margin: auto;
  width: 100%;
  // max-width: 630px;

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 24px auto;
  }

  &__title {
    font-size: em(34);
    line-height: 1.3em;
    margin-bottom: 12px;
  }

  &__subtitle{
    margin-bottom: 12px;
    width: 100%;
  }
  &__link {
    cursor: pointer;
    transition: $t-normal;
    &:hover {
      color: $mango;
    }
  }

  &__or{
    text-transform: uppercase;
  }

  &__buttons{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 24px;

    &--field {
      width: 100%;
      margin-bottom: 12px;
    }

    @include media("<=desktop"){
      flex-direction: column;
      align-items: center;
      align-content: center;

      &-left{
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__submit {
    margin-top: 12px;
    width: 60%;
  }

  &__other{
  }
}
