// teachers [styles]

.group-teachers {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  @include media("<=screen") {
    grid-template-columns: 1fr 1fr;
    max-width: 770px;
    margin: auto;
    justify-content: center;
  }
  @include media("<=tablet") {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    max-width: 370px;
  }
}

// Created by dimasion 2018-10-4
