.page-set-password {
  background: $steel;
  height: calc(100vh - 70px); // ensure full height when form is <100% of page
  width: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(/images/application-header-1800.jpg);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .panel--set-password {
    width: 41%;
    margin: 0 auto;

    .panel__title {
    }
    .panel__title-content {
      padding: 0;
    }
    .panel__title__header {
      padding: 18px 0 0;
    }
    .panel__content {
      padding-top: 12px;
    }
  }

  .form-set-password {
    .form-container {
      // 3-col grid
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .submit--set-password {
    &__disabled {
      background-color: $steel-two;
      border-color: $steel-two;
      opacity: .96;
      cursor: default;

      &:hover {
      }
    }
  }
}
