// section-city [styles]

.section-city {
  position: relative;
  @include backgroundCoverCenter;

  // provide background image within media query to avoid double-loading
  // - https://timkadlec.com/2012/04/media-query-asset-downloading-results/
  @include media(">phone") {
    background-image: url(/images/city-header-1200-lossy.jpg);
  }
  @include media("<=phone") {
    background-image: url(/images/city-header-600-lossy.jpg);
  }

  &__title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
      letter-spacing: 1.3px;
      padding-bottom: 12px;
    }
    h3 {
      letter-spacing: 1.2px;
      font-weight: 100;
    }

    a{
      font-size: .85rem;
      letter-spacing: 1.05px;
    }

    // special sizing without overriding global styling for all screen sizes
    @include media(">=tablet") {
      h2 {
        font-size: 3.6rem;
        font-weight: 600;
      }
      h3 {
        font-size: 1.3rem;
      }
    }
  }

  &__connect {
    margin-top: 28px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

// Created by dimasion 2018-10-4
