// section-account [styles]

.section-account {
  position: relative;
  padding: 20px 0 40px;

  @include media("<=desktop") {
    padding: 30px 0;
  }
  @include media("<=phone") {
    padding: 15px 0;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    @include media("<=laptop") {
      grid-gap: 15px;
    }
    @include media("<=tablet") {
      grid-template-columns: 1fr;
    }

    .section-account__left {
      &__content {
        position: sticky;
        top: 90px;    // just after navbar
      }
    }
  }

  &__item {
    margin-bottom: 30px;

    @include media("<=laptop") {
      margin-bottom: 15px;
    }

   &_wrapper{

    @include media("<=tablet") {
      width: 100%;
      margin: 0 auto;
      max-width: 380px;
    }

    &--bordered {
       border: 1px solid $pale-grey-two;
     }

    &--padded {
      padding: 23px 0;
     }

   }

    &:last-child {
      margin-bottom: 0;
    }

    .button{
      max-width: 380px;
    }
  }

  .sex{

    &__wrapper{
      display: flex;
    }

    &__item{
      margin-right: 30px;

      &:last-child{
        margin-right: 0px;
      }
    }
  }

  .location{

    &__wrapper{

      &:last-child{
        display: flex;
        justify-content: flex-end;

        @include media("<desktop") {
          justify-content: center;
        }
      }

      @include media("<desktop") {
        text-align: center;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__maps{
    padding-top: 30px;
    width: 100%;

    .update-zip {
      font-size: 1.05rem;
      padding-top: 1rem;
      color: $steel;
    }

    iframe {
      border: 0;
      width: 100%;
      min-height: 300px;
    }
  }

  .times {
    display: grid;
    grid-template-areas:
      "     .      header-top"
      "header-left content"
      "header-left content"
      "header-left content";
    grid-template-columns: 4fr 11fr;
    grid-template-rows: auto;

    width: 100%;
    padding: 0;

    .times__header-top {
      grid-area: header-top;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      min-height: 32px;
      width: 100%;

      &--item {
        height: 100%;
        min-width: 32px;

        display: grid;
        justify-self: center;
        align-self: center;
        text-align: center;
        line-height: 1.9rem;
      }
    }
    .times__header-left {
      grid-area: header-left;

      display: grid;
      grid-template-rows: repeat(3, 1fr);

      min-width: 32px;
      height: 100%;

      &--item {
        width: 100%;
        min-height: 32px;

        display: grid;
        justify-self: center;
        align-self: center;
        line-height: 1.9rem;
        font-size: .84rem !important;
      }
    }
    .times__content {
      grid-area: content;

      display: grid;

      &--row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }

      &--item {
        display: grid;
        align-self: center;
        justify-self: center;
        line-height: 1.9rem;

        .field-checkbox {
          padding: 0;
        }
      }
    }
  }
}
