<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hi <%= @resource.name %>,</h1>

    <p>Someone has requested a link to change your password. You can do this through the link below:</p>

    <% redirect_url = "#{UserMailer::DOMAIN_URL}set-password" %>
    <p>Please <a href="<%= edit_api_v1_user_password_url(reset_password_token: @token, redirect_url: redirect_url) %>">click here</a> to reset your password.</p>

    <p>If you didn't request a new password, please ignore this email.</p>

    <p>Your password won't change until you access the link above and create a new one.</p>

    <p>Best,</p>
    <p>Frank and the Shine Tutors Team</p>
  </body>
</html>
